<a href="https://colab.research.google.com/github/Ricardope3/Data-Science-Club/blob/master/marcia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Bootcamp Selection Challenge
#####In this challenge you will calculate various KPIs using a car based dataset, each question will have a single correct answer that will be evaluated through automated unit testing. Use the dictionary provided below to fill in your answers, each question will state the format required for the answer and examples are provided so you know how properly fill the answer dictionary. 
#####**Use the dataset "as is" and do not perform any data cleaning or modify it in any way, doing so could make you answer all your questions incorrectly. Do not modify the structure of the answer dictionary.**

#####When you finish this challenge please upload both your notebook and your answer dictionary in pickle format to a public github repository submit their URL to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7) that was provided to you.

##### Some unit tests are provided at the end of this notebook to help you verify your answers are in the correct format, however they will not test everything.

In [1]:
#Use this dictionary to store your answers in the correct format in the cells below , do not modify the keys
answer_dict =  {"Q1" : None,
                "Q2" : None,
                "Q3" : None,
                "Q4" : None,
                "Q5" : None,
                "Q6" : None,
                "Q7" : None}

##Reading the dataset
#####An example is provided to read the dataset using [pandas](https://pandas.pydata.org/), while we reccommend using pandas you may use any python library to solve this challenge.

In [2]:
import pandas as pd
import numpy as np
url='https://drive.google.com/file/d/1PCJ7ltluquoXKi6MYTPMfwZQNI_-MIFP/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [3]:
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

##Q1. What is the average CO2 emmission per gram/mile of all Volkswagen cars?

##### Format: A floating number
##### Example answer:
 `11.547`

In [ ]:
########## Q1
#Your code here

#Example answer:
#answer_dict["Q1"] =  11.547

##Q2. Calculate the top 5 brands(Make) with the most unique models, order your answer in descending order with respect to the number of unique models.
##### **NOTE:** Consider only the name of the models and their brand, that is use only the Make and Model columns
##### Format: A 5X2 list with each row being the name of the brand followed by the unique number of models, in descending order.
#####Hint: You can use the pandas [df.values.tolist()](https://pandas.pydata.org/docs/reference/api/pandas.Series.tolist.html) function to format your answer.

##### Example answer: 
`[["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]`

In [ ]:
########## Q2
#Your code here

#Example answer:
#answer_dict["Q2"] =  [["Volkswagen", 1000], ["Toyota", 900], ["Honda", 800], ["Subaru", 700], ["Ford", 600]]

##Q3. What are all the different types of fuels in the dataset sorted alphabetically?
##### Format: A list of strings sorted alphabetically.
##### Example Answer: 
`['Regular',
 'Premium']`

In [ ]:
########## Q3
#Your code here

#Example answer:
#answer_dict["Q3"] =  ['Regular', 'Premium']

##Q4. Show the 9 Toyota cars with the most extreme Fuel Barrels/Year in abosolute terms within all Toyota cars. Show the car Model, Year and their Fuel Barrels/Year in standard deviation units([Z-score](https://fredclavel.org/2019/03/18/basics-standardization-and-the-z-score/)) **sorted** in descending order by their Fuel Barrels/Year in absolute terms first and then by year in descending order **BUT** without modifying the negative values (see example).

##### Format: A 9X3 list with each row containing the Model, Year and Fuel Barrels/Year in standard deviations units

##### Example answer: 
```
[['DJ Po Vehicle 2WD', 2004, -6.407431084026927],
 ['FJ8c Post Office', 2003, -6.407431084026927],
 ['Post Office DJ5 2WD', 2005, -6.391684618442447],
 ['Sierra 2500 Hd 2WD', 2002, -6.391684618442447],
 ['Camry CNG', 2012, 2.677633075759575],
 ['Sierra 1500 4WD', 2005, 2.677633075759575],
 ['Sierra 1500 4WD', 2001, 2.677633075759575],
 ['V15 Suburban 4WD', 1988, 2.677633075759575],
 ['V15 Suburban 4WD', 1987, 2.677633075759575]]
```
#####Note that while the list is sorted by the Fuel Barrels/Year in absolute terms and in standard deviation units, the values are not modified. If the values are the same the rows are sorted by the year.

In [ ]:
########## Q4
#Your code here

##Q5. Calculate the changes in Combined MPG with their previous model of all Golf cars with Manual 5-spd transmission and Regular Fuel Type. Show the Year, the Combined MPG and the calculated difference of MPG in a list sorted by Year in ascending order.

##### Format: A 19X3 list, with the Year and Combined MPG being of type integer **and only the calculated difference is of type float**
##### **Note: The value for the first model should be 0.** It does not matter that there are gaps in the years, calculate with respect the previous model.

#####Example answer:



```
[[1986, 25, 0.0],
 [1987, 25, 0.0],
 [1988, 25, 0.0],
 [1989, 25, 0.0],
 [1990, 23, -2.0],
 [1991, 23, 0.0],
 [1992, 24, 1.0],
 [1993, 25, 1.0],
 [1994, 25, 0.0],
 [1995, 25, 0.0],
 [1996, 25, 0.0],
 [1997, 25, 0.0],
 [1998, 24, -1.0],
 [1999, 25, 1.0],
 [2000, 24, -1.0],
 [2001, 24, 0.0],
 [2002, 24, 0.0],
 [2004, 24, 0.0],
 [2006, 24, 0.0]]
```

In [31]:
########## Q5
#Your code here
golf_cars = df[(df["Model"] == "Golf") & (df["Transmission"]=="Manual 5-spd") & (df["Fuel Type"]=="Regular")]
golf_cars.sort_values(by="Year")
lst = []
prev = None
for _, row in golf_cars.iterrows():
  if prev:
    lst.append([row["Year"], row["Combined MPG"],  row['Combined MPG']- prev])
  else:
    lst.append([row["Year"], row["Combined MPG"], 0])
  prev = row['Combined MPG']
# lst[0].append(0)
# for i in range(1,len(lst)):
#   lst[i].append(lst[i][1] - lst[i-1][1])

lst

[[1986, 26, 0],
 [1987, 26, 0],
 [1988, 25, -1],
 [1989, 25, 0],
 [1999, 24, -1],
 [2000, 24, 0],
 [2001, 24, 0],
 [2002, 24, 0],
 [2003, 24, 0],
 [2004, 24, 0],
 [2005, 24, 0],
 [2006, 24, 0],
 [2010, 25, 1],
 [2011, 26, 1],
 [2012, 26, 0],
 [2013, 26, 0],
 [2015, 30, 4],
 [2016, 30, 0],
 [2017, 29, -1]]

##Q6. What are the top 5 lowest CO2 Emission Grams/Mile emmisions of cars for each of the following brands: Toyota, Ford, Volkswagen, Nissan, Honda

#####Format: A 5X6 list with the first element of each row being the Make of the cars and the following five values being floats sorted in ascending order. The Makes should appear in order listed in the question starting with Toyota and ending with Honda (see example).

#####Example answer:

```
[['Toyota', 100.0, 140.0, 140.0, 150.0, 150.0],
 ['Ford',
  100.025641025641,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575,
  200.677633075759575],
 ['Volkswagen', 139.0, 154.0, 166.5, 166.5, 166.5],
 ['Nissan', 122.0, 122.0, 122.0, 122.0, 160.0],
 ['Honda', 100.0, 100.0, 100.0, 100.0, 123.91684618442447]]
```

In [50]:
########## Q6
#Your code here
makes = df[(df["Make"]=="Toyota") | (df["Make"]=="Ford") | (df["Make"]=="Volkswagen") | (df["Make"]=="Nissan") | (df["Make"]=="Honda")]
makes.sort_values(["Make", "CO2 Emission Grams/Mile"] ) 
makes.groupby('Make').apply(lambda table : table.nsmallest(n=5, columns = "CO2 Emission Grams/Mile"))

                        Make                         Model  Year  \
Make
Ford       13412        Ford  Fusion Energi Plug-in Hybrid  2017
           11639        Ford   C-MAX Energi Plug-in Hybrid  2013
           11640        Ford   C-MAX Energi Plug-in Hybrid  2014
           11641        Ford   C-MAX Energi Plug-in Hybrid  2015
           11642        Ford   C-MAX Energi Plug-in Hybrid  2016
Honda      17059       Honda         Accord Plug-in Hybrid  2014
           17522       Honda                       Insight  2000
           17524       Honda                       Insight  2001
           17526       Honda                       Insight  2002
           17528       Honda                       Insight  2003
Nissan     27201      Nissan                         Versa  2014
           27198      Nissan                         Versa  2013
           26830      Nissan                        Sentra  1985
           26832      Nissan                        Sentra  1985
           26835      Nissan                        Sentra  1986
Toyota     33281      Toyota          Prius Plug-in Hybrid  2012
           33282      Toyota          Prius Plug-in Hybrid  2013
           33283      Toyota          Prius Plug-in Hybrid  2014
           33284      Toyota          Prius Plug-in Hybrid  2015
           33279      Toyota                     Prius Eco  2016
Volkswagen 34664  Volkswagen                  Jetta Hybrid  2013
           34665  Volkswagen                  Jetta Hybrid  2014
           34666  Volkswagen                  Jetta Hybrid  2015
           34667  Volkswagen                  Jetta Hybrid  2016
           34714  Volkswagen                   Jetta Wagon  2002

                  Engine Displacement  Cylinders  \
Make
Ford       13412                  2.0        4.0
           11639                  2.0        4.0
           11640                  2.0        4.0
           11641                  2.0        4.0
           11642                  2.0        4.0
Honda      17059                  2.0        4.0
           17522                  1.0        3.0
           17524                  1.0        3.0
           17526                  1.0        3.0
           17528                  1.0        3.0
Nissan     27201                  1.6        4.0
           27198                  1.6        4.0
           26830                  1.7        4.0
           26832                  1.7        4.0
           26835                  1.7        4.0
Toyota     33281                  1.8        4.0
           33282                  1.8        4.0
           33283                  1.8        4.0
           33284                  1.8        4.0
           33279                  1.8        4.0
Volkswagen 34664                  1.4        4.0
           34665                  1.4        4.0
           34666                  1.4        4.0
           34667                  1.4        4.0
           34714                  1.9        4.0

                                      Transmission         Drivetrain  \
Make
Ford       13412  Automatic (variable gear ratios)  Front-Wheel Drive
           11639  Automatic (variable gear ratios)  Front-Wheel Drive
           11640  Automatic (variable gear ratios)  Front-Wheel Drive
           11641  Automatic (variable gear ratios)  Front-Wheel Drive
           11642  Automatic (variable gear ratios)  Front-Wheel Drive
Honda      17059  Automatic (variable gear ratios)  Front-Wheel Drive
           17522                      Manual 5-spd  Front-Wheel Drive
           17524                      Manual 5-spd  Front-Wheel Drive
           17526                      Manual 5-spd  Front-Wheel Drive
           17528                      Manual 5-spd  Front-Wheel Drive
Nissan     27201  Automatic (variable gear ratios)  Front-Wheel Drive
           27198  Automatic (variable gear ratios)  Front-Wheel Drive
           26830                      Manual 4-spd  Front-Wheel Drive
           26832                      Manual 4-spd  Front-Wheel Drive
           26835                      Manual 4-spd  Front-Wheel Drive
Toyota     33281  Automatic (variable gear ratios)  Front-Wheel Drive
           33282  Automatic (variable gear ratios)  Front-Wheel Drive
           33283  Automatic (variable gear ratios)  Front-Wheel Drive
           33284  Automatic (variable gear ratios)  Front-Wheel Drive
           33279  Automatic (variable gear ratios)  Front-Wheel Drive
Volkswagen 34664                       Auto(AM-S7)  Front-Wheel Drive
           34665                       Auto(AM-S7)  Front-Wheel Drive
           34666                       Auto(AM-S7)  Front-Wheel Drive
           34667                       Auto(AM-S7)  Front-Wheel Drive
           34714                      Manual 5-spd  Front-Wheel Drive

                         Vehicle Class                    Fuel Type  \
Make
Ford       13412          Midsize Cars  Regular Gas and Electricity
           11639          Midsize Cars  Regular Gas and Electricity
           11640          Midsize Cars  Regular Gas and Electricity
           11641          Midsize Cars  Regular Gas and Electricity
           11642          Midsize Cars  Regular Gas and Electricity
Honda      17059          Midsize Cars  Regular Gas and Electricity
           17522           Two Seaters                      Regular
           17524           Two Seaters                      Regular
           17526           Two Seaters                      Regular
           17528           Two Seaters                      Regular
Nissan     27201          Compact Cars                      Regular
           27198          Compact Cars                      Regular
           26830       Subcompact Cars                       Diesel
           26832       Subcompact Cars                       Diesel
           26835       Subcompact Cars                       Diesel
Toyota     33281          Midsize Cars  Regular Gas and Electricity
           33282          Midsize Cars  Regular Gas and Electricity
           33283          Midsize Cars  Regular Gas and Electricity
           33284          Midsize Cars  Regular Gas and Electricity
           33279          Midsize Cars                      Regular
Volkswagen 34664          Compact Cars                      Premium
           34665          Compact Cars                      Premium
           34666          Compact Cars                      Premium
           34667          Compact Cars                      Premium
           34714  Small Station Wagons                       Diesel

                  Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
Make
Ford       13412           4.184202        43           41            42
           11639           4.878704        40           36            38
           11640           4.878704        40           36            38
           11641           4.878704        40           36            38
           11642           4.878704        40           36            38
Honda      17059           4.827657        47           46            46
           17522           6.219057        49           61            53
           17524           6.219057        48           60            53
           17526           6.219057        48           59            53
           17528           6.219057        48           59            53
Nissan     27201           9.417429        31           40            35
           27198           9.417429        31           40            35
           26830           9.554625        38           44            40
           26832           9.554625        37           45            40
           26835           9.554625        37           45            40
Toyota     33281           4.744612        51           49            50
           33282           4.737144        51           49            50
           33283           4.737144        51           49            50
           33284           4.737144        51           49            50
           33279           5.885893        58           53            56
Volkswagen 34664           7.324667        42           48            45
           34665           7.324667        42           48            45
           34666           7.324667        42           48            45
           34667           7.491136        42           48            44
           34714           9.799615        35           45            39

                  CO2 Emission Grams/Mile  Fuel Cost/Year
Make
Ford       13412               112.000000             800
           11639               129.000000             900
           11640               129.000000             900
           11641               129.000000             900
           11642               129.000000             900
Honda      17059               130.000000             700
           17522               167.679245             650
           17524               167.679245             650
           17526               167.679245             650
           17528               167.679245             650
Nissan     27201               249.000000             950
           27198               254.000000             950
           26830               254.500000             900
           26832               254.500000             900
           26835               254.500000             900
Toyota     33281               133.000000             650
           33282               133.000000             650
           33283               133.000000             650
           33284               133.000000             650
           33279               158.000000             600
Volkswagen 34664               200.000000             900
           34665               200.000000             900
           34666               200.000000             900
           34667               200.000000             900
           34714               261.025641             950

##Q7. Form 7 groups of 5 years to calculated the median Combined MPG of each group. The first group is from 1984 to 1988, the second from 1989 to 1993 and so on. The last group will have years not appearing in the dataset.

#####Note: The groups ranges are inclusive on both sides, the first group starts with 1984 and cars from 1984 are included in it.
#####Format : A 7X2 list with the first element of each row being a tuple of two integers being the lower and uppper range of the year groups and the esecond element being the median Combined MPG of that group, a float number.

#####Example answer:


```
[[(1984, 1988), 11.0],
 [(1989, 1993), 10.0],
 [(1994, 1998), 10.0],
 [(1999, 2003), 14.0],
 [(2004, 2008), 13.0],
 [(2009, 2013), 14.0],
 [(2014, 2018), 15.0]]
```

In [ ]:
########## Q7
#Your code here

##Test your answers

##### We provide you some tests to make sure your answer dictionary is in the correct format using unittest.
##### These tests are not meant to be comprehensive, you should review all your answers carefully.

In [ ]:
import unittest

class TestAnswers(unittest.TestCase):
    def test_if_dict(self):
        self.assertIsInstance(answer_dict, dict)

    def test_keys(self):
        self.assertEqual(list(answer_dict.keys()), ['Q1', 'Q2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7'])

    def test_answers_types(self):
        types_values = [type(k) for k in answer_dict.values()]
        answer_types = [float, list, list, list, list, list, list]
        self.assertEqual(types_values, answer_types)

    def test_Q1(self):
        self.assertEqual(type(answer_dict['Q1']), float)

    def test_Q2_dim(self):
        self.assertEqual(np.array(answer_dict['Q2']).shape, (5,2))

    def test_Q2_types(self):
        dtype1 = type(answer_dict['Q2'][0][0])
        dtype2 = type(answer_dict['Q2'][0][1])
        self.assertEqual([dtype1, dtype2], [str, int])

    def test_Q3_types(self):
        q3_types = set([type(item) for item in answer_dict['Q3']])
        self.assertEqual(q3_types, {str})

    def test_Q4_dim(self):
        self.assertEqual(np.array(answer_dict['Q4']).shape, (9,3))

    def test_Q4_types(self):
        dtype1 = type(answer_dict['Q4'][0][0])
        dtype2 = type(answer_dict['Q4'][0][1])
        dtype3 = type(answer_dict['Q4'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [str, int, float])

    def test_Q5_dim(self):
        self.assertEqual(np.array(answer_dict['Q5']).shape, (19,3))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q5'][0][0])
        dtype2 = type(answer_dict['Q5'][0][1])
        dtype3 = type(answer_dict['Q5'][0][2])
        self.assertEqual([dtype1, dtype2, dtype3], [int, int, float])

    def test_Q5_first_zero(self):
        self.assertEqual(answer_dict['Q5'][0][2], 0)


    def test_Q6_dim(self):
        self.assertEqual(np.array(answer_dict['Q6']).shape, (5,6))

    def test_Q5_types(self):
        dtype1 = type(answer_dict['Q6'][0][0])
        dtype2 = type(answer_dict['Q6'][0][1])
        dtype3 = type(answer_dict['Q6'][0][2])
        dtype4 = type(answer_dict['Q6'][0][3])
        dtype5 = type(answer_dict['Q6'][0][4])
        dtype6 = type(answer_dict['Q6'][0][5])
        self.assertEqual([dtype1, dtype2, dtype3, dtype4, dtype5, dtype6], [str, float, float, float, float, float])

    def test_Q6_check_first_and_last_brand(self):
        first_brand = answer_dict['Q6'][0][0]
        last_brand = answer_dict['Q6'][4][0]

        self.assertEqual([first_brand, last_brand], ["Toyota", "Honda"])

    def test_Q7_dim(self):
        self.assertEqual(np.array(answer_dict['Q7'], dtype=object).shape, (7,2))

    def test_Q7_types(self):
        dtype1 = type(answer_dict['Q7'][0][0])
        dtype2 = type(answer_dict['Q7'][0][1])
        self.assertEqual([dtype1, dtype2], [tuple, float])

unittest.main(argv=[''], verbosity=2, exit=False)

##Save your answers


##### First, take a moment to evaluate your answers and make sure you have not missed anything

##### Use the following code to save your answers in pickle format, change the filename using the following format:
##### FIRSTNAME_LASTNAME_answers.pkl
##### Example: Juan_Perez_answers.pkl

##### If you are using google colab you can find your file on the left side bar by clicking the folder icon inside the sample_data folder. Remember to upload the pickle file and the notebook to github and submit their URLs to the [google form](https://forms.gle/wWysZEMkoZsjB11Y7).

In [ ]:
answer_dict

In [ ]:
import pickle

file_name = "FIRSTNAME_LASTNAME_answers.pkl"
path = ""

with open(path+file_name, 'wb') as f:
    pickle.dump(answer_dict, f, protocol=pickle.HIGHEST_PROTOCOL)